* {
  font-family: Manrope;
}
.nav-links a,
.nav-links button {
  font-family: roboto, arial, helvetica;
}
header {
  height: 741px;
  width: 100%;
  background-image: url(../images/IMG0030-scaled-e1650260333821.jpg);
  background-repeat: no-repeat;
  background-size: 100% 741px;
  max-height: 741px;
  overflow: hidden;
}
.header-container {
  height: 100%;
  width: 100%;
}
.btn-outline-light {
  border-radius: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  width: 167px;
}
.text-white {
  text-decoration: none;
}
.text-white,
.nav-btn {
  margin-right: 40px;
  font-size: 14px;
  line-height: 16px;
}
.header-text,
.feature-paragraph {
  font-size: 40px;
  line-height: 56px;
}
.header-text {
  width: 590px;
  height: 168px;
  word-break: break-all;
  text-align: right;
}
.company-name {
  color: #72aaff;
}
.benefits {
  margin-bottom: 50px;
}
.benefits,
.main-benefits {
  width: 100%;
}
.benefits-heading {
  width: 766px;
}
.benefit {
  width: 275px;
}
#aurdic-3-min {
  max-width: 929px;
  min-width: 300px;
  max-height: 523px;
  min-height: 220px;
  border: none;
}
.features {
  width: 100%;
}
.features-card {
  max-width: 50%;
  min-width: 330px;
  height: 620px;
  background: #f5f6f7;
  mix-blend-mode: normal;
}
#aurdic-strider-7 {
  height: 100%;
}
.features-column {
  width: 347px;
}
.description {
  background: black;
  width: 100%;
  height: 830px;
  background-image: url('./../images/IMG31796-scaled-e1650260675171.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.description-header {
  width: 543px;
  max-height: 168px;
  min-height: 100px;
  font-weight: 700;
  word-wrap: wrap;
  word-break: keep-all;
}
.description-paragraph {
  width: 275px;
  height: 108px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.description-statistics {
  max-width: 310px;
  min-width: 290px;
}
.description-row {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  background: linear-gradient(90deg, #59bddd 0.81%, #00485f 98.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}
#case-1 {
  width: 590px;
  height: 398px;
}

#case-2 {
  width: 767px;
  height: 318px;
}

.case-header {
  font-size: 60px;
  line-height: 76px;
}
.case-paragraph {
  width: 275px;
  height: 312px;
}
#glass {
  height: 454px;
  width: 454px;
}
.glass {
  height: 529px;
  background: linear-gradient(0.57deg, #131313 0.42%, #1b1b1b 99.44%);
}
.glass-border {
  width: 528px;
}
.luminous-container {
  width: 1160px;
  height: 640px;
  background: #000000;
}
#luminous {
  width: 594px;
  height: 640px;
}
.luminous-color {
  color: #afffc4;
}
.slider-img {
  width: 100.29px;
}
#img-slider {
  width: 400px;
  height: 731px;
}
.img-container {
  width: 580px;
  height: 730px;
  background: url('../images/Rectangle\ 153.png');
}
.dot {
  width: 12.76px;
  height: 13px;
  background: #020202;
  border-radius: 40px;
}
.dot-active {
  background: #d9d9d9;
}
.slider-btn {
  width: 31px;
  height: 31px;
  margin-bottom: 85px;
}
.slider-dots {
  width: 100.29px;
}
.image-slider {
  width: 550px;
}
.menu-btns div {
  width: 373.02px;
  height: 36px;
}

.color-radio-btn {
  width: 177px;
  min-height: 58px;
  padding: 12px 32px;
  gap: 10px;
}
.radio-btn-color-border {
  border: 0.5px solid #adadad;
}
.color-option {
  width: 56px;
  height: 34px;
}
#copper-cream {
  background: #d9d0b1;
}
#forest-green {
  background: #658f7a;
}
#carbon-black {
  background: #424242;
}
#alpine-white {
  background: #e5e3e1;
}
.color {
  width: 20px;
  height: 20px;
}
.choice-name {
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  text-transform: capitalize;
}
